body {
  background: #3e588f;
}

.weather-app-body {
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 10px;
  margin: 30px auto;
  background: #fff;
}

button {
  background: #007cb9;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  border: 1px solid #007cb9;
  border-radius: 10px;
  transition: all 150ms ease-in-out;
}

button:hover {
  background: #fff;
  color: #007cb9;
  cursor: pointer;
}

h1 {
  font-family: monospace;
  font-size: 25px;
  color: #676768;
}

img {
  width: 130px;
  position: fixed;
  left: 450px;
  top: 110px;
}

.row {
  font-family: monospace;
  font-size: 20px;
  color: #203562;
}

.col {
  text-align: center;
}

li {
  list-style: none;
}

p {
  color: #007cb9;
}

.github-repository-link {
  text-align: center;
  font-size: 16px;
  color: #fff;
}
